tests/aws_examples/choice_state_x.json
{
  "Comment": "Code from https://docs.aws.amazon.com/step-functions/latest/dg/amazon-states-language-choice-state.html with minor additions to make it a full state machine",
  "StartAt": "ChoiceStateX",
  "States": {
    "ChoiceStateX": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.type",
            "StringEquals": "Private"
          },
          "Next": "Public"
        },
        {
          "Variable": "$.value",
          "NumericEquals": 0,
          "Next": "ValueIsZero"
        },
        {
          "And": [
            {
              "Variable": "$.value",
              "NumericGreaterThanEquals": 20
            },
            {
              "Variable": "$.value",
              "NumericLessThan": 30
            }
          ],
          "Next": "ValueInTwenties"
        }
      ],
      "Default": "DefaultState"
    },
    "Public": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Foo",
      "Next": "NextState"
    },
    "ValueIsZero": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Zero",
      "Next": "NextState"
    },
    "ValueInTwenties": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Bar",
      "Next": "NextState"
    },
    "DefaultState": {
      "Type": "Fail",
      "Cause": "No Matches!"
    },
    "NextState": {
      "Type": "Pass",
      "End": true
    }
  }
}
